[submodule "themes/origin"]
	path = themes/origin
	url = https://gitlab.com/asleeppiano/origin-hugo-theme.git

[submodule "themes/salt"]
	path = themes/salt
	url = https://github.com/marzukia/salt.git

[submodule "themes/hugo-kiera"]
	path = themes/hugo-kiera
	url = https://github.com/funkydan2/hugo-kiera.git

[submodule "themes/etch"]
	path = themes/etch
	url = git@github.com:LukasJoswiak/etch.git
[submodule "test"]
	path = marzukia.github.io
	url = git@github.com:marzukia/marzukia.github.io
	branch = master
