[submodule "themes/origin"]
	path = themes/origin
	url = https://gitlab.com/asleeppiano/origin-hugo-theme.git

[submodule "marzukia.github.io"]
	path = marzukia.github.io
	url = https://github.com/marzukia/marzukia.github.io.git
[submodule "themes/hugo-kiera"]
	path = themes/hugo-kiera
	url = https://github.com/funkydan2/hugo-kiera.git
[submodule "themes/etch"]
	path = themes/etch
	url = git@github.com:LukasJoswiak/etch.git
