<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
<script defer src="https://umami.marzuki.co/script.js" data-website-id="598a7577-6be5-4c96-908b-82f9cc84d4ce"></script>

{{/* Favicon declarations */}}
<link rel="icon" type="image/x-icon" href="/favicon.ico">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">

{{/* Apple Touch Icons */}}
<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">

{{/* Android/Chrome Icons */}}
<link rel="icon" type="image/png" sizes="36x36" href="/android-icon-36x36.png">
<link rel="icon" type="image/png" sizes="48x48" href="/android-icon-48x48.png">
<link rel="icon" type="image/png" sizes="72x72" href="/android-icon-72x72.png">
<link rel="icon" type="image/png" sizes="96x96" href="/android-icon-96x96.png">
<link rel="icon" type="image/png" sizes="144x144" href="/android-icon-144x144.png">
<link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">

{{/* Web App Manifest */}}
<link rel="manifest" href="/manifest.json">
<meta name="application-name" content="{{ .Site.Title }}">
<meta name="apple-mobile-web-app-title" content="{{ .Site.Title }}">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">

{{/* MS Tiles */}}
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="msapplication-config" content="/browserconfig.xml">

<meta property="og:image" content="/{{ .Site.Params.seo.ogbanner }}">